*, *::before, *::after {
    box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
    margin: 0;
}
/*
Typographic tweaks!
3. Add accessible line-height
4. Improve text rendering
*/
body {
    position: relative;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/*
5. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/*
6. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}

/*
7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

.flex {
    display: flex;
}
.grid {
    display: grid;
}

.appBar {
    color: white;
    background-color: #3879F6;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    justify-content: space-between;
    box-shadow: 2px 2px 6px 2px rgb(0 0 0 / .3);
}

#open-modal,
#add-book-btn,
.remove-btn,
.read-toggle {
    border: 0;
    border-radius: .50rem;
    cursor: pointer;
    padding-inline: 1em;
    padding-block: .5em;
    color: white;
    user-select: none;
}

#add-book-btn {
    background-color: #3879F6;

}

#open-modal {
    color: #3879F6;
}


.remove-btn {
    background-color: white;
    color: #EA3E2F;
    border: 1px solid #EA3E2F;
}

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

#modal input {
    padding-left: 1rem;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: .3rem;
}

#modal input:focus {
    outline-color: rgb(0, 153, 255);
}

#modal input:user-valid {
    outline-color: rgb(0, 255, 115);
}

#modal input:user-invalid {
    outline-color: rgb(255, 72, 40);
}

#modal input[type="checkbox"]{
    height: 20px;
    width: 20px;
}

#modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

#book-form {
    flex-direction: column;
    gap: 1rem;
}
#books-container {
    padding-inline: 1rem;
    margin-inline: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, 300px);
}

.author-page-container {
    justify-content: space-between;
    color: rgb(75, 75, 75);
}

.read-status-container {
    align-self: center;
    align-items: center;
    gap: 1rem;
}

.card {
    border: 1px black solid;
    align-items: center;
    grid-auto-flow: row;
    grid-template-rows: 2fr 1fr 2fr;
    border-radius: .50rem;
    padding: 1rem;
    min-height: 200px;
    position: relative;
    background-color: white;
    box-shadow: 3px 3px 5px 2px rgb(0 0 0 / .3);
}

.btn-container {
    align-items: center;
    gap: 1rem;
}
.read-toggle {
    background-color: rgb(255, 142, 142);
}

.read {
    background-color: lightgreen;
}

